<!DOCTYPE html>
<html>
  <head>
    <title>session</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <button id="btn1">登录</button>
    <button id="btn2">查看是否登录</button>
    <h1 id="title"></h1>
  </body>
  <script src="/js/axios.js"></script>
  <script>
    var btn1 = document.getElementById("btn1")
    var btn2 = document.getElementById("btn2")
    var title = document.getElementById("title")

    btn1.onclick = function(){
      axios.post("/login").then(res => {
        console.log(res)
      })
    }

    btn2.onclick = function (){
      axios.get("/islogin").then(res => {
        let loginStatus = res.data.data;
        title.innerText = loginStatus
      })
    }
  </script>
</html>
